@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){
}

/* FIX OCULTAR BOTÓN MENÚ */
@media screen and (max-width: 2400px) and (min-width: 1141px){
    .btn-menu{
        display: none !important
    }   

    .mobile .btn-menu{
    	display: block !important
    }
}




/* RESPONSIVE HORIZONTAL */



/* ----------------------------------------------------------------------*/

/* 1680
 
-------------------------------------------------------------------------*/
@media screen and (max-width: 1680px){
	
	
	

	
	
    

}





/* ----------------------------------------------------------------------*/

/* 1460
 
-------------------------------------------------------------------------*/
@media screen and (max-width: 1460px){
	
	
	

	
	
    

}





/* ----------------------------------------------------------------------*/

/* 1370
 
-------------------------------------------------------------------------*/
@media screen and (max-width: 1370px){
		

   
	/* #textos */
	body{
		font-size: .95rem
	}

	h1{
		font-size:2.6rem
	}
	h2{
		font-size:1.95rem
	}
	h3{
		font-size:1.65rem
	}
	h4{
		font-size:1.45rem
	}
	h5{
		font-size:1.25rem
	}
	h6{
		font-size:1rem
	}
   
	
	
	
}





/* ----------------------------------------------------------------------*/

/* 1280
 
-------------------------------------------------------------------------*/
@media screen and (max-width: 1280px){
	
	


	/* #botones */
	.btn{
		padding         : 8px 30px;
		font-size       : .9rem;
	}
	 



}





/* ----------------------------------------------------------------------*/

/* 1140
 
-------------------------------------------------------------------------*/
@media screen and (max-width: 1140px){

	/* #col */
	.col-25{
		-ms-flex: 0 0 24.9998%;
		flex: 0 0 24.9998%;
		width: 24.9998%
	}
	

	/* #menú */
	.menu,
	.mobile .menu{
		position        : fixed;
		top             : auto;
		bottom          : auto;
		left            : 0;
		width           : 100%;
		max-width       : 100%;
		height          : 0;
		background-color: rgba(255,255,255,.95);
		align-items     : center;
		justify-content : center;
		visibility      : hidden;
		height          : 0;
		opacity         : 0;
		transition      : all .4s ease
	}

	body.visible .menu,
	body.mobile.visible .menu{
		display   : flex;
		height    : 100%;
		visibility: visible;
		opacity   : 1
	}
	
		.menu ul,
		.mobile .menu ul{
			display    : none;
			width      : 100%;
			height     : 100%;
			float      : left;
			padding-top: 20px;
		}

		body.visible .menu ul,
		body.mobile.visible .menu ul{
			display: block
		}

			.menu ul li,
			.mobile .menu ul li{
				width     : 100%;
				float     : left;
				text-align: center;
			}
				
				.menu ul li a,
				.mobile .menu ul li a{
					width  : auto;
					display: inline-block;
					float  : none;
					display: inline-block;
					padding: 20px 15px !important;
					font-size: 1.4rem
				}

		/* btn */
		.mobile .btn-menu,			
		.btn-menu{
			display: block
		}




	/* # mapa */
	.mapa{
		height : 350px;
	}




/* ----------------------------------------------------------------------*/

/* 980
 
-------------------------------------------------------------------------*/
@media screen and (max-width: 980px){

	/* #ratio */
	.ratio-35{
		padding-top:56.25% !important;
	}
	.ratio-25{
		padding-top:35% !important;
	}
	.ratio-20{
		padding-top:30% !important;
	}
	.ratio-15{
		padding-top:20% !important;
	}
	
	/* #padding */
	.pt-5{
		padding-top: 20px !important
	}

	/* #margin */
	.mt-5{
		margin-top: 20px !important
	}

	/* #col */
	.col-25{
		-ms-flex: 0 0 24.9998%;
		flex    : 0 0 24.9998%;
		width   : 24.9998%
	}

	
	


}	





/* ----------------------------------------------------------------------*/

/* 768
 
-------------------------------------------------------------------------*/
@media screen and (max-width: 768px){

	
	.col-25{
		-ms-flex: 0 0 33.3332%;
		flex    : 0 0 33.3332%;
		width   : 33.3332%;

	}


	/* #textos */
	body{
		font-size: .9rem
	}
	
	h1{
		font-size:2rem
	}
	h2{
		font-size:1.7rem
	}
	h3{
		font-size:1.5rem
	}
	h4{
		font-size:1.3rem
	}
	h5{
		font-size:1.15rem
	}
	h6{
		font-size:.95rem
	}






}





/* ----------------------------------------------------------------------*/

/* 645
 
-------------------------------------------------------------------------*/
@media screen and (max-width: 645px){
	
	/* #padding */
	.pt-5{
		padding-top: 15px !important
	}

	/* #margin */
	.mt-5{
		margin-top: 15px !important
	}



	
}

	@media screen and (max-width: 645px) and (orientation: landscape){ 
		

	}





/* ----------------------------------------------------------------------*/

/* 540
 
-------------------------------------------------------------------------*/
@media screen and (max-width: 540px){
	


	
	




}





/* ----------------------------------------------------------------------*/

/* 400
 
-------------------------------------------------------------------------*/
@media screen and (max-width: 400px){
	
	
	/* #menu */
	.menu  ul li a{
		font-size: 1rem
	}



	
}




/* RESPONSIVE VERTICAL (si es necesario) */


/* # 700 */
@media screen and (max-device-height: 700px) {  


}








